<nav>
  <ul class="breadcrumb">
    {{ for item of nav.breadcrumb(url, `lang=${lang} hide_menu!=true`) }}
      {{ if item.data.url }}
        {{ if item.data.url !== url }}
        <li class="breadcrumb-item"><a href="{{ item.data.url }}">{{ item.data.title || item.slug }}</a></li>
        {{ /if }}
      {{ else if item.slug }}
      <li class="breadcrumb-item"><strong>{{ item.slug }}</strong></li>
      {{ /if }}
    {{ /for }}
  </ul>
</nav>
