{% if item.data %}
  <a {% if item.data.url == url %}aria-current="page"{% endif %} href="{{ item.data.url }}">
    {% if item.children %}📁{% endif %}
    {{ item.data.title or item.slug }}
  </a>
{% else %}
  <span>📁 {{ item.slug }}</span>
{% endif %}

{% ifAsync item.children %}
<ul>
  {% asyncEach item in item.children %}
  <li>
    {% include "templates/menu_item.njk" %}
  </li>
  {% endeach %}
</ul>
{% endif %}
