<nav>
  {% set page = search.page("url=/") %}

  {% if page %}
    <a class="menu-highlight" href="{{ page.data.url }}">{{ page.data.title }}</a>
  {% endif %}

  {# <a class="menu-highlight" href="/updates/">Latest updates</a> #}

  <ul class="menu">
  {% asyncEach item in nav.menu().children %}
    <li>
      {% include "templates/menu_item.njk" %}
    </li>
  {% endeach %}
  </ul>
</nav>
