---
title: Last updates
edit: false
pagefind: false
renderOrder: 1
---
<h1>{{ title }}</h1>

<ul class="updates">
  {% for page in search.pages("url!=" + url, "date desc", 100) %}
  <li>
    <a href="{{ page.data.url }}">
      {{ page.data.title or page.src.slug }}
    </a><br>
    <time>Last updated: {{ page.data.date | date("HUMAN_DATETIME") }}</time>
  {% endfor %}
</ul>
