@import "https://unpkg.com/@lumeland/ds@0.3.1/ds.css";
@import "css/menu.css";
@import "css/updates.css";

.container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: start;
  row-gap: 2em;
  column-gap: 4em;
  grid-template-columns: minmax(0, 800px);
  grid-template-areas: "toolbar"
                        "main"
                        "menu"
                        "footer";

  @media (max-width: 949px) {
    padding: 5vw;
  }
  @media (min-width: 950px) {
    grid-template-columns: 1fr minmax(10vw, 250px) minmax(0, 800px) 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "menu menu toolbar"
                         "menu menu main"
                         "menu menu footer";
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr minmax(10vw, 250px) minmax(0, 800px) 200px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "menu menu toolbar ."
                         "menu menu main toc"
                         "menu menu footer toc";
  }
}
.container > .toc {
  display: none;
  grid-area: toc;

  @media (min-width: 1200px) {
    display: block;
    position: sticky;
    align-self: start;
    top: 2rem;
  }
}
.container > nav.menu-container {
  grid-area: menu;
  background-color: var(--color-highlight);

  @media (max-width: 949px) {
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  @media (min-width: 950px) {
    display: grid;
    align-content: start;
    grid-template-columns: 1fr minmax(10vw, 250px);
    padding-top: 2rem;
    border-right: solid 1px var(--color-line);

    > * {
      grid-column: 2;
    }
  }
}
.container > .toolbar {
  grid-area: toolbar;

  @media (min-width: 950px) {
    padding-top: 2rem;
  }
}
main {
  grid-area: main;
}
.body {
  margin-top: var(--row-gap-xsmall);

  & h1 {
    color: var(--color-base);
  }
}
.body-footer {
  grid-area: footer;
  font: var(--font-small);
  color: var(--color-dim);
  border-top: solid 1px var(--color-line);
  padding: 1em 0;
  margin-top: 1em;
}
